.flex {
    @include flexbox;

    > * {
        &.grow {
            @include flex-grow(1);
        }
    }

    &.f-center {
        @include justify-content(center);
    }
    &.f-end {
        @include justify-content(flex-end);
    }

    &.f-vertical-center {
        @include align-items(center);
    }
    
    &.f-vertical-bottom {
        @include align-items(flex-end);
    }

    &.f-inline {
        @include inline-flex;
    }

    &.f-space-between {
        @include justify-content(space-between);
    }

    &.f-space-end {
        @include justify-content(flex-end);
    }

    &.f-dir-column {
        @include flex-direction(column);
    }
    &.f-dir-reverse {
        @include flex-direction(row-reverse);
    }

    &.f-wrap {
        @include flex-wrap(wrap);
    }

    &.f-equal-width {
        > * {
            @include flex-basis(0);
            @include flex-grow(1);
        }
    }

    &.f-half-width {
        @include tablet {
            @include flex-direction(column);
        }
        > * {
            width: 50%;
            @include tablet {
                width: 100%;
            }
        }
    }

    &.f-third-width {
        @include tablet {
            @include flex-direction(column);
        }
        > * {
            width: 33.33%;
            @include tablet {
                width: 100%;
            }
        }
    }
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}