// ---------------------------------------------
//    Fonts
// ---------------------------------------------


// ---------------------------------------------
//    Colors
// ---------------------------------------------


// ---------------------------------------------
//    Site header
// ---------------------------------------------
$height-header: 45px;
$height-header-mobile: 35px;

// Promotional Bar
$height-promo: 35px;
$height-promo-mobile: 0;



// ---------------------------------------------
//    Screen sizes
// ---------------------------------------------
$size-mobile: 480px;
$size-mobile-large: 600px;
$size-tablet: 768px;
$size-small-desktop: 1024px;
$size-medium-desktop: 1200px;
$size-large-desktop: 1500px;
$size-extra-large-desktop: 1920px;
$size-nav-mobile: 900px;


// ---------------------------------------------
//    Spacing
// ---------------------------------------------
$spacing-xs: 20px;
$spacing-sm: 23px;
$spacing-md: 50px;
$spacing-lg: 70px;
$spacing-xl: 125px;

$spacing-border: 30px;
$spacing-border-mobile: 30px;


// ---------------------------------------------
//    Animation
// ---------------------------------------------
$transition-default: .2s all ease-in-out;
