.btn {
	font-family: "Barlow",sans-serif;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
	padding: 8px 19px 12px;
	border-radius: 5px;
	border: 0;
	box-shadow: -2px -2px 4px 0 rgba(255,255,255,0.5),2px 2px 4px 0 rgba(0,0,0,0.21);
	letter-spacing: 1px;
	text-transform: initial;
	color: #ffffff;
	display: inline-block;
    @include transition(all 0.3s);

	&:hover{
		box-shadow: -2px -2px 4px 0 rgba(255,255,255,0.5),2px 2px 4px 0 rgba(0,0,0,0.1);
		@include transform(translateY(-1px))
	}
}

